/* css reset */
html {
	color:#000;
	background:#FFF;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
.container {
	font:12px/1.5 '微软雅黑';
	overflow: hidden;
}
.container li {
	list-style:none;
}
.container a {
	text-decoration:none;
	color:#000000;
}
.container img {
	display:block;
	font-size:0;
	border:none;
}
.container em,.container strong {
	font-style:normal;
	font-weight:normal;
}
.container input,.container textarea,.container select {
	*font-size:100%;
}
.clearfix:after {
	content:'.';
	display:block;
	clear:both;
	visibility:hidden;
	height:0;
}
.clearfix {
	zoom:1;
}
/* end */

 #site-nav .seller-center .menu-hd{ width:48px;}
  #site-nav .seller-center .menu-bd{ width: 94px; line-height:1.7;}
  #site-nav .seller-center .menu-bd-panel{padding: 8px 10px;}

/* 右侧导航 */
nav{
	height: 36px;
	width:100%;
	background: #929292;
}
.sideNavbg{
	background: url("image/sidenav.png") no-repeat;
	width:112px;
	height: 288px;
	position:fixed;
	bottom:40px;
	right:60px;
	z-index: 80;
}
.sideNav{
	padding:25px 12px 0 12px;
}
.sideNav li:not(:last-child){
	border-bottom: dashed 1px;
}
.sideNav li a{
	color:#613c0e;
	width:100%;
	display: block;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
}
.sideNavbg .toTop{
	background: url("image/totop.png")  center no-repeat;
	height: 36px;
	cursor: pointer;
}
.main{
	position: relative;
}
.box3,.box4,.box5,.box6,.box7{ position: fixed;
_position: absolute;
width: 100%;}
.box1{
	background: url("image/topbg5.png");
	height:640px;
	position: relative;
	width:100%;
}
.box2{
	background: #4a351b url("image/bg.png") center no-repeat;
	height: 2200px;
	width: 100%;
	position: relative;
	top:-136px;
	z-index: 10;
	min-width:1000px; 
 	/* background-size: 100%; */
}
.box3{
	z-index: 30;
}
.box4{
	z-index: 30;
}
.box5{
	z-index: 20;
}
.box6{
	z-index: 20;
}
.box7{
	z-index: 20;
}
.box1 .mount{
	height:256px;
	background: url("image/mount.png") center no-repeat;
	position: relative;
	top:-200px;
	z-index: 5;
}
.box1 .cloud{ position:fixed; left:50%;}
.box1 .cloud1{ 
	width:66px;
	height:31px; 
	top:170px; 
	margin-left:-500px; 
	background:url("image/cloud1.png") no-repeat;
	z-index: 10;
}
.box1 .cloud2{ 
	width:135px; 
	height:64px; 
	top:250px; 
	margin-left:-460px; 
	background:url("image/cloud_2.png") no-repeat; 
	z-index: 10;
}
.box1 .cloud3{ 
	width:147px; 
	height:68px; 
	top:130px; 
	margin-left:250px; 
	background:url("image/cloud_3.png") no-repeat; 
}
.box1 .cloud4{ 
	width:66px; 
	height:31px; 
	top:320px; 
	margin-left:400px; 
	background:url("image/cloud4.png") no-repeat; 
	
}
.box1 .jiedacar{
	width:968px;
	height: 562px;
	margin:auto;
	background:url("image/topbg7.png") no-repeat; 
	position: relative;
	z-index: 30;
	top:40px;
}
.box1 .arrowMove{
	background: url("image/tip.png") no-repeat;
	width:34px;
	height: 31px;
	position: absolute;
	top:340px;
	left:750px;
}
.box1 .sun{
	background:url("image/sun.png") no-repeat; 
	width:579px;
	height: 524px;
	position: absolute;
	top:-20px;
	left:250px;
	display: block;
	z-index: 0;
}
.box2 .timeMachine {
	background: url("image/timemachine.png") no-repeat;
	height: 466px;
	width: 1000px;
	margin: auto;
	top: 80px;
	position: relative;
}
/* 抽奖区域 */
.box2 .getPrice{
	background:#673b06 ; 
	height: 467px;
	width:1000px;
	margin:auto;
	border-radius: 40px 0;
	margin-top: 150px;
	overflow: hidden;
	padding: 45px 0 20px 0;
}
/* 抽奖器 */
.getPrice .lottery{
	float:left;
	margin-left: 15px;
	background: #4a351b ;
	border-radius: 5px;
	position: relative;
	padding:5px;
}
.lotteryBox{width:400px;height: 400px;}
.lotteryBox .lottery-luck{display: block;float:left;width: 100px;height: 100px;position: relative;}
#lottery-luck0{background: url("http://gtms04.alicdn.com/tps/i4/T1hwO_FyBXXXbxpFMQ-123-104.png") no-repeat;}
#lottery-luck1{background: url("http://gtms02.alicdn.com/tps/i2/T1QzK_Fw0XXXbxpFMQ-123-104.png") no-repeat;}
#lottery-luck2{background: url("http://gtms04.alicdn.com/tps/i4/T1hwO_FyBXXXbxpFMQ-123-104.png") no-repeat;}
#lottery-luck3{background: url("http://gtms04.alicdn.com/tps/i4/T1hwO_FyBXXXbxpFMQ-123-104.png") no-repeat;}
#lottery-luck4{background: url("http://gtms02.alicdn.com/tps/i2/T1QzK_Fw0XXXbxpFMQ-123-104.png") no-repeat;}
#lottery-luck5{background: url("http://gtms04.alicdn.com/tps/i4/T1hwO_FyBXXXbxpFMQ-123-104.png") no-repeat;}
#lottery-luck6{background: url("http://gtms04.alicdn.com/tps/i4/T1hwO_FyBXXXbxpFMQ-123-104.png") no-repeat; position:absolute; top:205px;}
#lottery-luck7{background: url("http://gtms02.alicdn.com/tps/i2/T1QzK_Fw0XXXbxpFMQ-123-104.png") no-repeat;}
#lottery-luck8{background: url("http://gtms04.alicdn.com/tps/i4/T1hwO_FyBXXXbxpFMQ-123-104.png") no-repeat;}
#lottery-luck9{background: url("http://gtms04.alicdn.com/tps/i4/T1hwO_FyBXXXbxpFMQ-123-104.png") no-repeat;}
#lottery-luck10{background: url("http://gtms04.alicdn.com/tps/i4/T1hwO_FyBXXXbxpFMQ-123-104.png") no-repeat;}
#lottery-luck11{background: url("http://gtms04.alicdn.com/tps/i4/T1hwO_FyBXXXbxpFMQ-123-104.png") no-repeat;}


/*格子点亮*/
.lotteryBox .luck-active{z-index: 30;} 
.lotteryBox .lotteryBtn{display: block;float:left;width: 200px;height: 200px;background: url("image/lotteryBtn.png") center no-repeat;cursor: pointer}
/*遮层样式，背景颜色和透明值可自己设置*/
.luck-shade{position: absolute;top: 0;left: 0;width: 200px;height: 200px;background-color: #999;opacity: 0.7;filter:alpha(opacity=70);z-index: 15;display:none;}

.luckPopup0,.luckPopup1,.luckPopup2{
	width:399px;
	height: 285px;
	background: url("image/popbg.png") no-repeat;
	display: none;
}
.luckPopup0 .resultText{
	color: #f9c334;
	font-size: 45px;
	padding-top: 60px;
	padding-left: 40px;

}
.luckPopup0 .leftText{
	color: #fff;
	font-size: 20px;
	padding-left: 40px;
	
}
.luckPopup1 .resultText{
	color: #f9c334;
	font-size: 28px;
	padding-top: 40px;
	padding-left: 40px;
	
}
.luckPopup1 .resultDetail{
	color: #fff;
	font-size: 30px;
	padding-left: 40px;
	
}

.luckPopup1 .leftText{
	color: #ca9c65;
	font-size: 16px;
	padding-left: 40px;
	
}
.luckPopup1 .leftNum{
	color: #f9c334;
	font-size: 20px;
}
.luckPopup .closeBtn {
	position: absolute;
	right: 0;
	top: 0;
	width: 45px;
	height: 45px;
	cursor: pointer;
}


/* 获奖名单 */
.getPrice .list{
	width:150px;	
	float:left;
	margin:0 10px ;	
}
.listmove{
	height: 380px;
	overflow: hidden;
}
.list .listtitle{
	width:150px;
	height:50px;
	background: url(image/listtitle.png) no-repeat;
}
.list li span{
	color:#9b6522;
	font-size: 13px;
	line-height: 22px;
}
.getPrice .activityAd{
	height: 355px;
	float: left;
	width:391px;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.activityAd .countUl{
	position: absolute;
	bottom: 80px;
	left: 100px;
	z-index: 10;
}
.activityAd .countUl li{ 
	width:19px; 
	height:19px; 
	text-align: center;
	cursor:pointer; 
	float:left;
	margin:5px;
	background: url("image/countul.png") center no-repeat;
}
.activityAd .countUl li.slide_hover{
	background: url("image/counthover.png") center no-repeat;
}
.activityAd .countUl span{display:block; color:#3d7768;}

.box2 .tryDrive{
	background: url("image/trydrive.png") no-repeat center;
	height: 130px;
	width:1077px;
	margin:auto;
	margin-top: 40px;
	position: relative;
}
.tryDrive .trybox{
	width:188px;
	height:67px;
	position: absolute;
	left:820px;
	top:60px;
}
.tryDrive .try{
	background: url("image/try.png");
	width:188px;
	height:67px;
	display: block;
	cursor:pointer;	
}
.box2 .displayPic{
	width:1000px;
	height: 717px;
	margin:auto;
	background:#673b06; 
	border-radius: 0 40px;
	margin-top:40px;
}
.displayPic .pic{
	background: url("image/pic.png") center no-repeat;
	width:947px;
	height: 717px;
	margin:auto;
}
.bottom{
	background:#4a351b url("image/bottom.png") bottom no-repeat;
	height: 250px;
	position: relative;
	background-size: 100%;
	top:-136px; 
}

.leaf1{
	background: url("image/leaf_1.png") no-repeat;
	width:142px;
	height: 244px;
	position: absolute;
	top:-1900px;
	left:0;
	z-index: 30;
}
.leaf2{
	background: url("image/leaf_2.png") no-repeat;
	width:106px;
	height: 108px;
	position: absolute;
	top:-1000px;
	left:0;
	z-index: 30;
}
.leaf3{
	background: url("image/leaf_3.png") no-repeat;
	width:187px;
	height: 244px;
	position: absolute;
	top:-2300px;
	right:0;
	z-index: 30;
}
.leaf4{
	background: url("image/leaf_4.png") no-repeat;
	width:171px;
	height: 167px;
	position: absolute;
	top:-1200px;
	right:0;
	z-index: 30;
}
.car1{
	background: url("image/left_red.png") no-repeat;
	width:133px;
	height: 280px;
	position: absolute;
	top:-2000px;
	left:5%;
}
.car2{
	background: url("image/left_white.png") no-repeat;
	width:104px;
	height: 229px;
	position: absolute;
	top:-1500px;
	left:9%;
}
.car3{
	background: url("image/right_white.png") no-repeat;
	width:105px;
	height: 220px;
	position: absolute;
	top:-1100px;
	right:5%;
}